---
import config from "../config";
import { getPublishedPosts } from "../data/posts";
import BaseLayout from "../layouts/base.astro";
import LandingPage from "../components/LandingPage.astro";
import PostListing from "../components/PostListing";

const publishedPosts = await getPublishedPosts();

const recentPosts = publishedPosts
  .sort(
    (a, b) =>
      +(b.data.last_modified_at ?? b.data.published_at) -
      +(a.data.last_modified_at ?? a.data.published_at),
  )
  .slice(0, config.layout.pageSize);

const featuredPosts = publishedPosts
  .filter((post) => post.data.featured)
  .sort(
    (a, b) =>
      +(b.data.last_modified_at ?? b.data.published_at) -
      +(a.data.last_modified_at ?? a.data.published_at),
  )
  .slice(0, config.layout.pageSize);
---

<BaseLayout>
  <div class="flex flex-col gap-8">
    <LandingPage />
    {
      featuredPosts.length > 0 && (
        <div class="flex flex-col gap-5">
          <h1 class="text-2xl dark:text-gray-200 font-medium">Featured posts</h1>
          <PostListing
            listStyle={config.layout.postListStyle}
            items={featuredPosts.map((post) => ({
              slug: post.slug,
              description: post.data.description,
              title: post.data.title,
              date: new Date(post.data.published_at),
              image: post.data.image,
              tags: post.data.tags ?? [],
            }))}
          />
        </div>
      )
    }
    {
      config.layout.landingPage.showRecentPosts && (
        <div class="flex flex-col gap-5">
          <h1 class="text-2xl dark:text-gray-200 font-medium">Recent posts</h1>
          <PostListing
            listStyle={config.layout.postListStyle}
            items={recentPosts.map((post) => ({
              slug: post.slug,
              description: post.data.description,
              title: post.data.title,
              date: new Date(post.data.published_at),
              image: post.data.image,
              tags: post.data.tags ?? [],
            }))}
          />
          <a class="text-center" href={`${config.site.baseUrl}/posts`}>
            <button class="text-sky-800 hover:bg-sky-50 dark:text-sky-300 font-medium p-2 hover:dark:bg-sky-950/50 rounded-lg transition-all">
              Show all posts
            </button>
          </a>
        </div>
      )
    }
  </div>
</BaseLayout>
