<div class="reading-progress z-10 fixed left-0 top-0 h-1 dark:bg-sky-500 bg-sky-700 opacity-75">
</div>

<script is:inline>
  /**
   * Gets the vertical scroll percent (0.0 - 1.0)
   */
  function getScrollPercent() {
    const doc = document.documentElement;
    const body = document.body;

    return (
      (doc.scrollTop || body.scrollTop) /
      ((doc.scrollHeight || body.scrollHeight) - doc.clientHeight)
    );
  }

  document.addEventListener("astro:page-load", () => {
    document.addEventListener("scroll", () => {
      const el = document.querySelector(".reading-progress");
      if (el) {
        el.style.width = `${getScrollPercent() * 100}%`;
      }
    });
  });
</script>
