<button
  aria-label="Switch theme"
  class="theme-switch transition-all hover:brightness-80 hover:scale-105"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
    ></path></svg
  >
</button>

<script is:inline>
  const iconMoon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>`;
  const iconSun = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>`;

  function theme() {
    const local = localStorage.getItem("theme");
    if (local) {
      return local;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  }

  function registerStuff(document) {
    const root = document.documentElement;
    const themeSwitch = document.querySelector(".theme-switch");

    if (theme() === "light") {
      root.classList.remove("dark");
      themeSwitch.innerHTML = iconMoon;
    } else {
      root.classList.add("dark");
      themeSwitch.innerHTML = iconSun;
    }

    themeSwitch.addEventListener("click", () => {
      const isDark = root.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "light" : "dark");
      console.log(isDark);

      if (isDark) {
        root.classList.remove("dark");
        themeSwitch.innerHTML = iconMoon;
      } else {
        root.classList.add("dark");
        themeSwitch.innerHTML = iconSun;
      }
    });
  }

  registerStuff(document);

  document.addEventListener("astro:after-swap", (ev) => {
    registerStuff(document);
  });
</script>
