---
import { getCollection } from "astro:content";

import PostListing from "../../components/PostListing";
import config from "../../config";
import { getTaggedPosts } from "../../data/posts";
import BaseLayout from "../../layouts/base.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).filter((post) => !post.data.draft);
  return [...new Set(posts.flatMap((post) => post.data.tags))].map((tag) => ({
    params: { slug: tag },
  }));
}

const { slug } = Astro.params;

const taggedPosts = await getTaggedPosts(slug);
---

<BaseLayout>
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl dark:text-gray-200 font-medium">
      All posts tagged with <i transition:name={slug} class="text-sky-800 dark:text-sky-500"
        >#{slug}</i
      >
    </h1>
    <PostListing
      listStyle={config.layout.postListStyle}
      items={taggedPosts.map((post) => ({
        slug: post.slug,
        description: post.data.description,
        title: post.data.title,
        date: new Date(post.data.last_modified_at ?? post.data.published_at),
        image: post.data.image,
        tags: post.data.tags,
      }))}
    />
  </div>
</BaseLayout>
